<!DOCTYPE html>
<html lang="en">
<head>
    <title>
         Kategorie - serwis informacyjny Metaverse
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/css/pics/icon.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/post/post.css') }}">
    {% endblock %}
</head>
<body>

<!---------------------------------------MENU------------------------------------------------------->
<div class="menu">
    <ul>
        <li>
            <a href="{{ url('start_index') }}">
                METAVERSE - SERWIS INFORMACYJNY
            </a>
        </li>
        <li>
            <a href="{{ url('main_index') }}" >
                STRONA GŁÓWNA
            </a>
        </li>
        <li>
            <a href="{{ url('theory_index') }}" >
                BAZA WIEDZY
            </a>
        </li>
        <li>
            <a href="{{ url('post_index') }}">
                FORUM
            </a>
        </li>
        <li>
            <a href="{{ url('kids_index') }}">
                STREFA DZIECKA
            </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ url('user_edit') }}">{{ 'title.change_data'|trans }}</a>
            </li>
        {% endif %}
        <li class="logowanie">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
            {% else %}
                <a href="{{ url('app_login') }}">LOGOWANIE</a>
            {% endif %}
        </li>
        <li class="logowanie">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {% else %}
                <a href="{{ url('registration_register') }}">REJESTRACJA</a>
            {% endif %}
        </li>
    </ul>
</div>

<!-------------------------------------------NAGŁÓWEK----------------------------------------------->
<div class="hi">
    <h1>  KATEGORIE </h1>
</div>

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {% include 'default/_single_alert_message.html.twig' %}
    {% endfor %}
{% endfor %}


{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="c">
            <a href="{{ url('category_create') }}" class="create">
                {{ 'action.create_category'|trans }}
            </a>
        </div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'category.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}


{% endblock %}

<!---------------------------------------------STOPKA------------------------------------------------->
<div class="footer">
    <p class="footernav"> <a href="{{ url('main_index') }}"> {{ 'main_page'|trans }} </a> | <a href="{{ url('info_index') }}"> {{ 'info'|trans }} </a> | <a href="{{ url('biblio_index') }}"> {{ 'biblio'|trans }} </a> </p>
    <p class="info"> PROJEKT JEST CZĘŚCIĄ PRACY MAGISTERSKIEJ </p>
    <p class="copyright">  © 2023 Weronika Paterek </p>
</div>

</body>
</html>