{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_posts'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_posts'|trans({'%id%': category.id|default('')}) }}</h1>
    <h2>{{ category.title }}</h2>
    {% if posts is defined and posts|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.created_at'|trans }}</th>
                <th>{{ 'label.updated_at'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.ingredients'|trans }}</th>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.createdAt|format_date('long') }}</td>
                    <td>{{ post.updatedAt|format_date('long') }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.ingredients }}</td>
                    <td>{{ post.description }}</td>
                    <td>
                        <a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                        <a href="{{ url('comment_create', {id: post.id}) }}" title="{{ 'action.comment'|trans }}">
                            {{ 'action.comment'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}

{% endblock %}