<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Informacja - Metaverse serwis informacyjny
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/css/pics/icon.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/biblio.css') }}">
    {% endblock %}
</head>
<body>


<!-------------------------------------------------MENU---------------------------------------------->
<div class="menu">
    <ul>
        <li>
            <a href="{{ url('main_index') }}" title="{{ 'main_page'|trans }}">
                {{ 'main_page'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('post_index') }}" title="{{ 'title.post_list'|trans }}">
                {{ 'title.post_list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('category_index') }}" title="{{ 'title.category_list'|trans }}">
                {{ 'title.category_list'|trans }}
            </a>
        </li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li style="float:right">
                <div> {{ app.user.email }} </div>
            </li>
            <li>
                <a href="{{ url('user_edit') }}">{{ 'title.change_data'|trans }}</a>
            </li>
        {% endif %}
        <li style="float:right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
            {% else %}
                <a href="{{ url('app_login') }}">{{ 'title.login'|trans }}</a>
            {% endif %}
        </li>
    </ul>
</div>

<!-------------------------------------------NAGŁÓWEK----------------------------------------------->
<div class="hi">
    <h1> INFORMACJA  </h1>
</div>


<!-------------------------------------------INFORMACJA----------------------------------------------->
<div class="infor">
    <p>  Autorką niniejszego serwisu jest Weronika Paterek.</p> <br>
    <p> Serwis ten stanowi integralną część pracy magisterskiej
        <br> (kierunek: Elektroniczne Przetwarzanie Informacji),
        <br> przygotowanej pod kierunkiem  dr hab. Janusza Jurka
        <br> na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
    </p>
</div>


<!---------------------------------------------STOPKA------------------------------------------------->
<div class="footer">
    <p class="footernav"> <a href="{{ url('main_index') }}"> {{ 'main_page'|trans }} </a> | <a href="{{ url('info_index') }}"> {{ 'info'|trans }} </a> | <a href="{{ url('biblio_index') }}"> {{ 'biblio'|trans }} </a> </p>
    <p class="info"> PROJEKT JEST CZĘŚCIĄ PRACY MAGISTERSKIEJ </p>
    <p class="copyright">  © 2022 Weronika Paterek </p>
</div>

</body>
</html>