<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Metaverse - serwis informacyjny
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/css/pics/icon.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}">

    {% endblock %}
</head>
<body>



<!---------------------------------------MENU------------------------------------------------------->
<div class="menu">
    <ul>
        <li>
            <a href="{{ url('main_index') }}" title="{{ 'main_page'|trans }}">
                METAVERSE - SERWIS INFORMACYJNY
            </a>
        </li>
        <li>
            <a href="{{ url('main_index') }}" title="{{ 'main_page'|trans }}">
                STRONA GŁÓWNA
            </a>
        </li>
        <li>
            <a href="{{ url('post_index') }}" title="{{ 'title.post_list'|trans }}">
                FORUM
            </a>
        </li>
        <li>
            <a href="{{ url('kids_index') }}" title="{{ 'title.kids_list'|trans }}">
                STREFA DZIECKA
            </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{#        <li>#}
{#            <a href="{{ url('event_index') }}" title="{{ 'title.event_list'|trans }}">#}
{#                WYDARZENIA#}
{#            </a>#}
{#        </li>#}

            <li style="float:right">
                <div class="username"> {{ app.user.email }} </div>
            </li>
            <li>
                <a href="{{ url('user_edit') }}">{{ 'title.change_data'|trans }}</a>
            </li>
        {% endif %}
            <li style="float:right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
                {% else %}
                    <a href="{{ url('app_login') }}">LOGOWANIE</a>
                {% endif %}
            </li>
        <li style="float:right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
            {% else %}
                <a href="{{ url('registration_register') }}">REJESTRACJA</a>
            {% endif %}
        </li>
    </ul>
</div>


<!----------------------------GRAFIKA Z NAZWĄ STRONY - METAVERSE------------------------------------->
<div class="toppage">
    <p class="napis"> METAVERSE </p>
    <p class="serwis"> Serwis informacyjny </p>
</div>





<!--------------------------------------- ABOUT PAGE ------------------------------------------------------->
<div class="whattoexpect">
    <h3> CO ZNAJDZIESZ NA STRONIE? </h3>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</div>


<div class="firstparagraph">
    <h3> STREFA DLA DZIECI </h3>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</div>

<!--------------------------------------- CZTERY CONTAINERY ------------------------------------------------------->
<div class="secondparagraph">
    <h3> GENEZA I HISTORIA METAVERSE </h3>

    <div class="container">
        <h3> Definicja i etymologia </h3>
        <p>Znajdziesz tutaj wyjaśnienie i omówienie terminu Metaverse pod względem pochodzenia nazwy.</p>
        <p>Zobacz</p>
    </div>

    <div class="container">
        <h3>  Geneza i historia </h3>
        <p>Znajdziesz tutaj wyjaśnienie i omówienie terminu Metaverse pod względem pochodzenia nazwy.</p>
        <p>Zobacz</p>
    </div>

    <div class="container">
        <h3> Technologie </h3>
        <p>Znajdziesz tutaj wyjaśnienie i omówienie terminu Metaverse pod względem pochodzenia nazwy.</p>
        <p>Zobacz</p>
    </div>

    <div class="container">
        <h3> Zastosowania </h3>
        <p>Znajdziesz tutaj wyjaśnienie i omówienie terminu Metaverse pod względem pochodzenia nazwy.</p>
        <p>Zobacz</p>
    </div>
</div>

<div>
    <h3> TECHNOLOGIE </h3>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</div>

<div>
    <h3> TECHNOLOGIE </h3>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
</div>

<div>
    <h3> FORUM </h3>
    Lorem Ipsum ,is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    <p class="forumbutton">Forum </p>
</div>


<div class="footer">
    <p class="footernav"> <a href="{{ url('main_index') }}"> {{ 'main_page'|trans }} </a> | <a href="{{ url('info_index') }}"> {{ 'info'|trans }} </a> | <a href="{{ url('biblio_index') }}"> {{ 'biblio'|trans }} </a> </p>
    <p class="info"> PROJEKT JEST CZĘŚCIĄ PRACY MAGISTERSKIEJ </p>
    <p class="copyright">  © 2022 Weronika Paterek </p>
</div>

</body>
</html>