<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Metaverse - serwis informacyjny
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/css/pics/icon.jpg') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/start/start.css') }}">

    {% endblock %}
</head>
<body>

<!---------------------------- GRAFIKA Z NAZWĄ STRONY - METAVERSE ------------------------------------->
<div class="toppage">
    <p class="napis"> METAVERSE </p>
    <p class="neon"> <a href="{{ url('main_index') }}"> SERWIS INFORMACYJNY </a> </p>
    <p class="enter">
    <div class="enterbutton">
        <a href="{{ url('main_index') }}"> ⯈⯈ WEJDŹ ⯇⯇ </a>
    </div>
    </p>

</div>


<!--------------------------------QUOTE------------------------------------------->
<div class="first">
    <p class="quote"> „Metaverse nie jest rzeczą, którą buduje firma. To kolejny rozdział w całym Internecie.” </p>
    <p class="name"> - Mark Zuckerberg </p>

</div>


<!-------------------------------- FOOTER ------------------------------------->
<div class="footer">
    <p class="footernav"> <a href="{{ url('main_index') }}"> {{ 'main_page'|trans }} </a> | <a href="{{ url('info_index') }}"> {{ 'info'|trans }} </a> | <a href="{{ url('biblio_index') }}"> {{ 'biblio'|trans }} </a> </p>
    <p class="info"> PROJEKT JEST CZĘŚCIĄ PRACY MAGISTERSKIEJ </p>
    <p class="copyright">  © 2023 Weronika Paterek </p>
</div>

</body>
</html>